<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/logo.png">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P2P Campus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <script src="./app.js"></script>
  </head>
  <body>
   <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <a onclick="App.logout()" href="index.html" class="navbar-item">
        <b>Log out</b>
      </a>
    </nav>


  <section class="section">
    <div class="container">
        <div class="column">
            <div class="title-container">
              <h1 class="title" id="home-title">
                  P2P Campus Loan
              </h1>
              <p class="subtitle" id="home-subtitle">
                Based on Ethereum blockchain
              </p>
            </div>
          </div>

      <div class="columns" align="center">
        <div class="column">   
         <div class="card" style="height:200px;width:75%">
           <div class="card-content">
           <table class="table" style="width: 85%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
             <thead>
                     <p class="title" style="font-size: 30px;">
                             Borrower information
                     </p>
             </thead>
             <p> 
                 
             </p>
             
             <tbody style="display:inline-block;float:right;">
               <tr>
                 <th>Name</th>
                 <th>University</th>
                 <th>Credit Rating</th>
                 <th>Student ID</th>
                 <th>Major</th>
                 <th>Account Balance</th>
                 
               </tr>
               <tr>
                  <td id="borrower-name"></td>
                 <td>CUHK</td>
                 <td>🌟🌟🌟</td>
                 <td>1155000000</td>
                 <td>Msc of FinTech</td>
                 <td>
                   <p class="info" id="port-val"></p>
                 </td>
               </tr>
             </tbody>
           </table>
           <p> </p>
         </div>
         </div>
         </div>
         </div>


      <div id="lender-application" class="columns">
        <div class="column"> 
            <div class="card" style="height:300px;">
                <div class="card-content">
                    <header>
                <div style="display:inline-block;float:left;">
                  <p class="title" style="float:left;">
                    Lender Applications
                  </p>
                </div>
                <p class="card-footer-item" style="display:inline-block; float:right;">
                    <span>
                        <a class="button is-link is-outlined" href="borrow-form.html"> Apply Now! </a>
                    </span>
                </p>
               
                </header>
                
                <table class="table" style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
                  <thead>
                    <tr>
                      <th>Number</th>
                      <th>Lender Name</th>
                      <th>Amount</th>
                      <th>Interest Rate</th>
                      <th>Maturity</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">1</td>
                      <td>lender0</td>
                      <td>25</td>
                      <td>10%</td>
                      <td>120 days</td>
                      
                      
                    </tr>
                    <tr>
                      <td scope="row">2</td>
                      <td>lender4</td>
                      <td>50</td>
                      <td>12%</td>
                      <td>180 days</td>
                      
                    
                    </tr>
                    <tr>
                      <td scope="row">3</td>
                      <td>lender5</td>
                      <td>30</td>
                      <td>8%</td>
                      <td>90 days</td>
                      
                      
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
        </div>
      </div>

      <div id="request-record" class="columns">
          <div class="column"> 
              <div class="card" style="height:300px;">
                  <div class="card-content">
                      <header>
                  <div style="display:inline-block;float:left;">
                    <p class="title" style="float:left;">
                      Request Record
                    </p>
                  </div>
                  <p class="card-footer-item" style="display:inline-block; float:right;">
                      <span>
                          <a class="button is-link is-outlined"  onclick="App.listBorrowRequest()"> Refresh </a>
                      </span>
                  </p>
                 
                  </header>
                  
                  <table class="table" id="reqrecodetable" style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
                    <thead>
                      <tr>
                        <th>Number</th>
                        <th>Status</th>
                        <th>Lender Name</th>
                        <th>Interest Rate</th>
                        <th>Purpose</th>
                        <th>Maturity</th>
                        
                      </tr>
                    </thead>
                    <tbody id="reqrecord">
                      
                    </tbody>
            </table>
            </div>
            </div>
            </div>
      </div>
      </div>
   

  </section>
  </body>
</html>