<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Borrower</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/borrower.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <script type="text/script" src="../javascripts/borrower.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
        <a href="borrowtransaction.html" class="navbar-item">
          <b>Back</b>
         </a>
      
        <div class="navbar-item">
          <a href="login.html" class="navbar-item">
            <b>Log out</b>
          </a>
        </div>
        
    </nav>

    <section class="section" style="position: relative">
        <div class="container">
          <div class="column">
            <div class="title-container">
              <h1 class="title" id="home-title" style="color:white">
                  Lenders information
              </h1>
            </div>
          </div>
          <p> 

          </p>
          <p> 

          </p>
    
          <div class="columns" style="position: relative;left:27%">
              <div class="column">   
               <div class="card" style="height:270px;width:600px;">
                 <div class="card-content">
                 <table class="table" style="width: 60%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
                   <div style="display:inline-block;float:left">
                     <img src="../images/bobby.jpg" width="90px" height="90px" />
                   </div>
                   <tbody style="display:inline-block;float:right;">
                     <tr>
                       <th>Name</th>
                       <td>Bobby</td>
                     <tr>
                       <th>Occupation</th>
                       <td>Teacher</td>
                     </tr>
                     <tr>
                       <th>Minimum interest rate</th>
                       <td>10%</td>
                     </tr>
                     <tr>
                       <th>Maturity</th>
                       <td>90days</td>
                     </tr>
                   </tbody>
                   <p> </p>
                 </table>
                 <p> 

                 </p>
                 <div class="center-div" style="display:inline-block;margin:auto;float:right; ">
                    <label class="checkbox" style="font-size: 16px;">
                        <input type="checkbox">
                        I want to borrow from this lender.
                    </label>
                </div>
               </div>
               </div>
              </div>
            </div>

          <div class="columns" style="position: relative;left:27%">
              <div class="column">   
               <div class="card" style="height:270px;width:600px;">
                 <div class="card-content">
                 <table class="table" style="width: 60%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
                   <div style="display:inline-block;float:left">
                     <img src="../images/bobby.jpg" width="90px" height="90px" />
                   </div>
                   <tbody style="display:inline-block;float:right;">
                     <tr>
                       <th>Name</th>
                       <td>Bobby</td>
                     <tr>
                       <th>Occupation</th>
                       <td>Teacher</td>
                     </tr>
                     <tr>
                       <th>Minimum interest rate</th>
                       <td>10%</td>
                     </tr>
                     <tr>
                       <th>Maturity</th>
                       <td>90days</td>
                     </tr>
                   </tbody>
                   <p> </p>
                 </table>
                 <div class="center-div" style="display:inline-block;margin:auto;float:right; ">
                    <label class="checkbox" style="font-size: 16px;">
                        <input type="checkbox">
                        I want to borrow from this lender.
                    </label>
                </div>
               </div>
               </div>
              </div>
            </div>

            <div class="columns" style="position: relative;left:27%">
                <div class="column">   
                 <div class="card" style="height:270px;width:600px;">
                   <div class="card-content">
                   <table class="table" style="width: 60%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
                     <div style="display:inline-block;float:left">
                       <img src="../images/bobby.jpg" width="90px" height="90px" />
                     </div>
                     <tbody style="display:inline-block;float:right;">
                       <tr>
                         <th>Name</th>
                         <td>Bobby</td>
                       <tr>
                         <th>Occupation</th>
                         <td>Teacher</td>
                       </tr>
                       <tr>
                         <th>Minimum interest rate</th>
                         <td>10%</td>
                       </tr>
                       <tr>
                         <th>Maturity</th>
                         <td>90days</td>
                       </tr>
                     </tbody>
                     <p> </p>
                   </table>
                   <div class="center-div" style="display:inline-block;margin:auto;float:right; ">
                      <label class="checkbox" style="font-size: 16px;">
                          <input type="checkbox">
                          I want to borrow from this lender.
                      </label>
                  </div>
                 </div>
                 </div>
                </div>
              </div>
     <div class="center-div" style="margin: auto; width: 50%; padding-top: 2.5%;">
            <a class="button is-link is-inverted" onclick="App.requestLoan()" href="borrowtransaction.html"> Choose Lender </a>
        </div>
    
    
          
  </body>


</html>