<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/logo.png">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P2P Campus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./build/home.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
  </head>
  <body>
   <!-- NAVBAR -->
   <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <a href="lender.html" class="navbar-item">
      <b>Back</b>
     </a>
  
    <div class="navbar-item">
      <a href="login.html" class="navbar-item">
        <b>Log out</b>
      </a>
    </div>
    
  </nav>
  <p> </p>
  <section class="section">
  <div class="container">  
  <div class="columns">
    <div class="column">   
     <div class="card" style="height:230px;">
       <div class="card-content">
       <table class="table" style="width: 80%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
         <thead>
                 <p class="title" style="font-size: 30px;">
                         Borrower information
                 </p>
         </thead>
         <p> 
             
         </p>
         <div style="display:inline-block;float:left">
           <img src="../images/anna.jpeg" width="90px" height="90px" />
         </div>
         <tbody style="display:inline-block;float:right;">
           <tr>
             <th>Name</th>
             <td id="borrower-name"></td>
             <th>Birthday</th>
             <td>01.01</td>
             <th>Credit Rating</th>
             <td>🌟🌟🌟</td>
             <!-- <th>Account Balance</th>
             <td>
               <p class="info" id="port-val"></p>
             </td> -->
           </tr>
           <tr>
             <th>University</th>
             <td>CUHK</td>
             <th>Student ID</th>
             <td>1155132xxx</td>
             <th>Major</th>
             <td>Msc of Financial Technology</td>
             <th></th>
             <td></td>
           </tr>
           <tr>
                <th>Amount</th>
                <td id="amount"></td>
                <th>Interest rate</th>
                <td id="interest"></td>
                <th>Purpose</th>
                <td>Study</td>
                <th>Time</th>
                <td>2019/01/01 11:00</td>
                <th>Maturity</th>
                <td id="maturity"></td>
              </tr>
         </tbody>
       </table>
       <p> </p>
     </div>
     </div>
     </div>
     </div>
     </div>
     </section>
  <p> </p>
  <p> </p>
            


    <div class="container">
        <header>
        <div class="center-div" style="margin: auto; width: 30%; padding-top: 3%;">
            <p class="title" style="font-size: 30px;color: white;">
                Lender application
            </p>
        </div>
        </header>

        

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 2%;">
            <label class="label" style="font-size: 24px; color: white;"> 
                Enter the minimum interest rate (%):
            </label>
            
            <div class="field has-addons">
                <div class="control" style="width: 87.2%;">
                    <input id="propose-interest" class="input" type="number" placeholder="Minimum interest rate (%)">
                </div>
            </div>
        </div>


        <div class="center-div" style="margin: auto; width: 50%; padding-top: 2%;">
            <label class="label" style="font-size: 24px; color: white;"> 
                Enter the Maturity of the loan:
            </label>
            
            <div class="field has-addons">
                <p class="control">
                    <span class="select">
                    <select>
                        <option>Days </option>
                        <option>Month(s) </option>
                        <option>Year(s) </option>
                    </select>
                    </span>
                </p>
                <div class="control" style="width: 70.2%;">
                    <input id="propose-maturity" class="input" type="number" placeholder="Maturity">
                </div>
            </div>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 0.5%;">
            <label class="label" style="font-size: 16px; color: white;"> The maturity should be at least 15 days. </label>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 2.5%;">
            <label class="checkbox" style="font-size: 16px; color: white">
                <input type="checkbox">
                I agree to the apply for the loan.
            </label>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 2.5%;">
            <a class="button is-link is-inverted" onclick="App.postLendPropose()"> Process Application! </a>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 2.5%;">
            <p> </p>
        </div>
    </div>


  </body>
</html>