<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/logo.png">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P2P Campus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <script src="./app.js"></script>
  </head>
  <body>
   <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <a onclick="App.logout()" href="index.html" class="navbar-item">
        <b>Log out</b>
      </a>
    </nav>

  <section class="section">
    <div class="container">
      <div class="column">
        <div class="title-container">
          <h1 class="title" id="home-title">
              P2P Campus Loan
          </h1>
          <p class="subtitle" id="home-subtitle">
            Based on Ethereum blockchain
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column">   
         <div class="card" style="height:200px;">
           <div class="card-content">
           <table class="table" style="width: 65%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
             <thead>
                     <p class="title" style="font-size: 30px;">
                             Lender information
                     </p>
             </thead>
             <p> 
                 
             </p>
             <div style="display:inline-block;float:left">
               <img src="../images/bobby.jpg" width="90px" height="90px" />
             </div>
             <tbody style="display:inline-block;float:right;">
               <tr>
                 <th>Name</th>
                 <td>Bobby</td>
                 <th>Birthday</th>
                 <td>02.02</td>
                 
               </tr>
               <tr>
                 <th>Occupation</th>
                 <td>Teacher</td>
                 <th>Account Balance</th>
                 <td>
                   <p class="info" id="port-val"></p>
                 </td>
               </tr>
             </tbody>
           </table>
           <p> </p>
         </div>
         </div>
         </div>
         </div>

      <div class="columns">
        <div class="column"> 
            <div class="card" style="height:500px;">
                <div class="card-content">
                    <header>
                <div style="display:inline-block;float:left;">
                  <p class="title" style="float:left;">
                    Borrower Requests
                  </p>
                </div>
                <p class="card-footer-item" style="display:inline-block; float:right;">
                    <span>
                        <a class="button is-link is-outlined"  onclick="App.listAvailableLoan()"> Refresh </a>
                    </span>
                    <span>
                        <a class="button is-link is-outlined" href="borrow-form.html"> Apply Now! </a>
                    </span>
                </p>
                
                </header>
                <table class="table" style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
                  <thead>
                    <tr>
                      <th>Borrower</th>
                      <th>Interest Rate</th>
                      <th>Purpose</th>
                      <th>Maturity</th>
                    </tr>
                  </thead>
                  <tbody id="borrowreq">
                      
                  </tbody>
                </table>
                
              </div>
              </div>
        </div>
      </div>

    

  </section>
  </body>
</html>