<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/logo.png">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poor Complex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <script src="./app.js"></script>
  </head>
  <body>
   <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <a href="login.html" class="navbar-item">
        <b>Log out</b>
      </a>
    </nav>

  <section class="section">
    <div class="container">
      <div class="column">
        <div class="title-container">
          <h1 class="title" id="home-title">
              Decentralizing How We Lend
          </h1>
          <p class="subtitle" id="home-subtitle">
            Built on the Ethereum blockchian
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column"> 
            <div class="card" style="height:500px;">
                <div class="card-content">
                    <header>
                <div style="display:inline-block;float:left;">
                  <p class="title" style="float:left;">
                    Lenders
                  </p>
                </div>
                <p class="card-footer-item" style="display:inline-block; float:right;">
                    <span>
                        <a class="button is-link is-outlined" href="borrow-form.html"> Apply Now! </a>
                    </span>
                </p>
                </header>
                <table class="table" style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Amount</th>
                      <th>Interest Rate</th>
                      <th>Purpose</th>
                      <th>Maturity</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>2333</td>
                      <td>10%</td>
                      <td>@mdo</td>
                      <td>100 days</td>
                      <td>2019/10/25 11:00</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>9293</td>
                      <td>6%</td>
                      <td>@fat</td>
                      <td>180 days</td>
                      <td>2019/11/09 19:37</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>888</td>
                      <td>11%</td>
                      <td>@twitter</td>
                      <td>90 days</td>
                      <td>2019/11/20 15:28</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
        </div>
      </div>

  </section>
  </body>
</html>