<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P2P Campus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/borrower.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <script type="text/script" src="../javascripts/borrower.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
        <a href="borrowtransaction.html" class="navbar-item">
          <b>Back</b>
         </a>
      
     
    </nav>

    <section class="section" style="position: relative">
        <div class="container">
          <div class="column">
              <div class="center-div" style="width: 50%; padding-top: 2%;">
            <div class="title-container">
              <h1 class="title" id="home-title" style="color:white">
                  Do you want to be a borrower or a lender?
              </h1>
            </div>
          </div>
          </div>
          
    
           
                  
            <div class="center-div" style="display: inline; float:left;width: 53%; padding-top: 1%;">
                    <label class="checkbox" style="font-size: 20px; color: white;">
                        <input id="check-borrow" type="checkbox" >
                        I want to borrow money.
                    </label>
                </div>

                                    
            <div class="center-div" style="display: inline; float:right; width: 47%; padding-top: 1%;">
                    <label class="checkbox" style="font-size: 20px; color: white">
                        <input id="ckeck-lend" type="checkbox" >
                        I want to lend money.
                    </label>
                </div>


            <div class="columns" >
              <div class="column" style="padding-top:3%">           
               <div class="card" style="display:inline-block;float:left;height:450px;width:45%;">
                 <div class="card-content">
                    
                  <div class="center-div" style="display:inline-block; width: 50%; padding-top: 2.5%;">
                    <label class="label" style="font-size: 16px; color:black;"> 
                        password
                    </label>
                    <div class="field has-addons">
                        <div class="control" style="width: 80%;">
                            <input class="input" id="password-borrower" type="password" placeholder="password">
                        </div>
                    </div>
                    
                  </div>

                <div class="center-div" style="display:inline-block;float:left; width: 50%; padding-top: 2.5%;">
                  <label class="label" style="font-size: 16px; color:black;"> 
                      username
                  </label>
                  <div class="field has-addons">
                      <div class="control" style="width: 80%;">
                          <input id="username-borrower" class="input" type="text" placeholder="Name">
                      </div>
                  </div>
                  
                </div>
                

            <div class="center-div" style="display:inline-block;float:left; width: 50%; padding-top: 2%;">
                <label class="label" style="font-size: 16px; color:black;"> 
                    University
                </label>
                <div class="field has-addons">
                    <div class="control" style="width: 80%;">
                        <input class="input" id="university" type="text" placeholder="University">
                    </div>
                </div>
                
            </div>

            <div class="center-div" style="display:inline-block;float:left; width: 50%; padding-top: 2%;">
              <label class="label" style="font-size: 16px; color:black;"> 
                  Student ID
              </label>
              <div class="field has-addons">
                  <div class="control" style="width: 80%;">
                      <input class="input" id="studentId" type="text" placeholder="Student ID">
                  </div>
              </div>
              
          </div>

          <div class="center-div" style="display:inline-block;float:left; width: 50%; padding-top: 2%;">
              <label class="label" style="font-size: 16px; color:black;"> 
                  Major
              </label>
              <div class="field has-addons">
                  <div class="control" style="width: 80%;">
                      <input class="input" id="borrow5" type="text" placeholder="Major">
                  </div>
              </div>
              
          </div>

          <div class="center-div" style=" display:inline-block;float:left;width: 80%; padding-top: 8%;">
                <label class="label" style="font-size: 16px; color:black;"> 
                    Upload Your Photo (Optional)
                </label>
                <div class="field has-addons">
                    <div class="control" style="width: 80%;">
                        <input class="file" id="borrow6" type="file" placeholder="Profile">
                    </div>
                </div> 
            </div>
        
        
               </div>
               </div>

               
             

        
               <div class="card" style="display:inline-block;float:right;height:450px;width:45%;">
                 <div class="card-content">
                    
                  <div class="center-div" style="display:inline-block; width: 50%; padding-top: 2.5%;">
                    <label class="label" style="font-size: 16px; color:black;"> 
                        password
                    </label>
                    <div class="field has-addons">
                        <div class="control" style="width: 80%;">
                            <input class="input" id="password-lender" type="password" placeholder="password">
                        </div>
                    </div>
                    
                </div>

                <div class="center-div" style="display:inline-block;float:left; width: 50%; padding-top: 2.5%;">
                  <label class="label" style="font-size: 16px; color:black;"> 
                      Name
                  </label>
                  <div class="field has-addons">
                      <div class="control" style="width: 80%;">
                          <input id="username-lender" class="input" type="text" placeholder="Name">
                      </div>
                  </div>
                  
              </div>

            <div class="center-div" style="display:inline-block;float:left; width: 50%; padding-top: 2%;">
                <label class="label" style="font-size: 16px; color:black;"> 
                    Occupation
                </label>
                <div class="field has-addons">
                    <div class="control" style="width: 80%;">
                        <input class="input" id="occupation" type="text" placeholder="Occupation">
                    </div>
                </div> 
            </div>

            <div class="center-div" style=" display:inline-block;float:left;width: 80%; padding-top: 21.2%;">
                <label class="label" style="font-size: 16px; color:black;"> 
                    Upload Your Photo (Optional)
                </label>
                <div class="field has-addons">
                    <div class="control" style="width: 80%;">
                        <input class="file" id="lender4" type="file" placeholder="Profile">
                    </div>
                </div> 
            </div>
        
               </div>
               </div>
              </div>
            </div>
            </div>
            </section>

           
     <div class="center-div" style="margin: auto; width: 6%; padding-top: 2.5%;">
            <a class="button is-link is-inverted" onclick="App.signup()"> Sign Up! </a>
        </div>
    
    
          
  </body>


</html>